*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h3{
    color: rgb(12, 13, 73);
}
.forms-section{
    display: flex;
    height: 800px;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 60px;
    align-items: center;

}

.Container-form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.Title-form{
    margin-top: 20px;
    margin-bottom: 20px;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(27, 242, 40);
    background: linear-gradient(90deg, rgba(27, 242, 40) 0%, rgba(65,168,26,1) 35%, rgba(124, 222, 87)100%);
}
.rectangulo{
    width: 100px;
    height: 60px;
    border: 3px solid #555;
    background-color: blue;
    
}
.triangulo{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-bottom: 100px solid purple; 
    border-right: 50px solid transparent;
    
}
.rombo{
    width: 80px;
    height: 80px;
    border: 3px solid #555;
    background-color: yellow;
    transform: rotate(45deg) ;
}